{% extends 'base.html' %} {% block content %}
<h2>Workout Details</h2>
<div class="row">
 <div class="col s6">
  <div class="card">
   <div class="card-content">
    <span class="card-title">{{ workout.workout_type }}</span>
    <p>Description: {{ workout.description }}</p>

    

   </div>
   <div class="card-action">
    <a href="{% url 'workouts_update' workout.id %}">Edit</a>
    <a href="{% url 'workouts_delete' workout.id %}">Delete</a>
   </div>
  </div>
 </div>
 <div class="col s6">
    <form action="{% url 'add_tracking' workout.id %}" method="post">
      {% csrf_token %} {{ tracking_form.as_p }}
      <input type="submit" class="btn" value="Add Tracking" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Track</th>
        </tr>
      </thead>
      <tbody>
        {% for tracking in workout.tracking_set.all %}
        <tr>
          <td>{{tracking.date}}</td>
          <td>{{tracking.get_track_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
<div class="col s6">
      <h3>{{ workout.workout_type }} contains...</h3>
      {% if workout.exercises.count %}
        {% for exercise in workout.exercises.all %}
        <div class="card">
          <div class="card-content grey lighten-3">
            <span class="card-title">
              <span class="{{ exercise.sets.lower }}-text">{{ exercise.sets }}</span> {{ exercise.name }}
              <form action="{% url 'remove_exercise' workout.id exercise.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Remove" class="btn">
              </form>
            </span>
          </div>
        </div>
        {% endfor %}
      {% else %}
          <h5>{{ workout.workout_type }} doesn't have associated exercises yet!</h5>
      {% endif %}
    </div>
    <div class="col s6">
      <h3>Available Exercises</h3>
      {% if exercises.count %}
        {% for exercise in exercises %}
        <div class="card ">
          <div class="card-content">
              <span class="card-title">
                <span>{{ exercise.name }}</span>
              </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_exercise' workout.id exercise.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{workout.workout_type}} Already Has All Available</h5>
     
    {% endif %}
  </div>

<script>
  let dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  let selectEl = document.getElementById('id_track');
  M.FormSelect.init(selectEl);
</script>
 {% endblock %}